@import "reset.css";

$font-system: system-ui, sans-serif;
$font-heading:  Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
$font-code:  ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

body {
    font-family: $font-system;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

code, pre {
    font-family: $font-code;
}
