<footer>
<p>
© <time>2022 - {{ getYear() }}</time> Nathan's blog  <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>
Made with <a href="https://lume.land/">Lume</a> 🦕 and <a href="https://simplecss.org/">simple.css</a>
</p>
</footer>